body{
    font-family: 'Monoton', cursive;
    margin: 0;
    padding: 0;
}

#heading{
    text-align: center;
    margin: 50px 0;
    font-size: 3em;
}


#sidebarNote{
    position: fixed;
    bottom: 2%;
    left: 2%;
    width: inherit;
    background-color: #4a0202;
    color: white;
    padding: 10px 15px;
    border: none;
    font-family: 'Monoton', cursive;
    transition: 0.5s;

}

/*NAV bar styles*/
.closebtn > img, #closetip > img{
    background: white;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: lawngreen;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#closetip {
    position: absolute;
    top: 2;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

label {
    color:white;
    font-size: 18px;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #4a0202;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    position: absolute;
    width: 25vw;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.container{
    float: right;
    width: 70vw;
    overflow: hidden;
}

.carousel .item {
    height: 400px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%!important;
    width: auto!important;
    object-fit: cover;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #230029;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 40px;
    margin: 12px;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
}
.sound{
    right: 12%;
    position: absolute;
    bottom: 15%;
    background-color: black;
    border-color: #2e6da4;
    padding: 10px 5px;
    text-align: center;
    color:white;
}
.sound > span{
    vertical-align: baseline;
    display: block;
}
.slide{
    margin-bottom: 20px;
}

.carousel-inner .item > span{
    position: absolute;
    left: 20%;
    top: 20%;
    font-size: 20vw;
}

.flex-container a, li a{
    width: 100%;
    display: inline-block;
}

li a, li a:hover{
    color:white;
    text-decoration: none;

}


/*color styles*/
.color-picker-container{
    display: flex;
    flex-direction: row;
    background-color: blue;
    border-bottom: 2px solid black;
    position: absolute;
    width: 60vw;
}
.color-picker-container *{
    margin: 5px 10px;
}
#draw{
    display: block;
    /*background-color: red;*/
    background-image: url("../images/a.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid;
}

/*STARS CSS*/

section#particles-js{
    width:100%;
    height:100vh;
    background:#230029;
}

